.picker-item {
	picker-view-column {
		transition: all 0.3s;
	}

	.lb-picker-column-flex0 {
		flex: 0;
	}

	.lb-picker-column-flex1 {
		flex: 1;
	}

	.lb-picker-column {
		padding: 0;
		font-size: 36rpx;
		text-align: center;
		box-sizing: border-box;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;

		.lb-picker-column-label {
			transition: all 0.3s;
		}
	}
}