.lb-picker-column {
  height: 34px;
  padding: 0 10px;
  /* #ifndef APP-NVUE */
  display: flex;
  box-sizing: border-box;
  white-space: nowrap;
  overflow: hidden;
  /* #endif */
  flex-direction: row;
  align-items: center;
}

.lb-picker-column-label {
  font-size: 16px;
  text-align: center;
  flex: 1;
  /* #ifdef APP-NVUE */
  lines: 1;
  /* #endif */
  text-overflow: ellipsis;
  transition-property: color;
  transition-duration: 0.3s;
  /* #ifndef APP-NVUE */
  overflow: hidden;
  white-space: nowrap;
  /* #endif */
}

.lb-picker-column-label-left {
  text-align: left;
}

.lb-picker-column-label-center {
  text-align: center;
}

.lb-picker-column-label-right {
  text-align: right;
}